<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus aspernatur vel esse facilis natus incidunt accusantium, cupiditate eius eos? Magnam, asperiores at quibusdam excepturi minus voluptate nulla iste ipsum ipsam.
Debitis earum nam culpa, dolor perferendis dolore ab quod vero reiciendis laborum, corrupti possimus omnis exercitationem expedita tempora beatae, autem animi accusamus? Cupiditate temporibus necessitatibus, suscipit dolore nobis tempora et.
Quisquam, natus sint. Aspernatur necessitatibus numquam repudiandae at accusantium maxime quibusdam officia molestias, doloremque, expedita, enim nesciunt minus laboriosam corporis rem! Eaque, excepturi fuga veniam labore omnis facere porro fugiat.
Consequatur, esse reiciendis. Voluptate, ullam hic! Consectetur eum, architecto laudantium nisi dolor deleniti natus. Unde eos est corrupti rem labore repellat ullam saepe iure harum voluptatum reiciendis cum, atque suscipit.
Reprehenderit, labore expedita voluptatum accusamus qui dolorum facilis rem velit esse distinctio consequatur non sequi minus atque ratione, asperiores libero culpa veritatis ullam praesentium minima eum inventore? Maxime, animi? Cumque.
Rerum provident perferendis eaque consequuntur. Eligendi dolorum possimus omnis distinctio atque tenetur, ipsum numquam rerum nostrum soluta, voluptate nisi voluptates optio officia. Porro repudiandae obcaecati aut vel facere sapiente minus.
Velit at, facilis architecto explicabo necessitatibus officia voluptate. Mollitia nisi eos eligendi voluptates ea illum itaque dignissimos sint, magni ad, modi, maxime necessitatibus in nihil facere accusamus? Earum, consequatur distinctio?
Eum aliquam perspiciatis ut velit voluptas veritatis excepturi ullam rerum! Ipsa iusto, aperiam, dolores amet quidem quisquam pariatur, itaque praesentium quos atque obcaecati deserunt fugiat ratione vitae. Pariatur, iusto. Delectus!
Ea debitis repudiandae eius iusto amet magnam quidem minima assumenda odit beatae, fugiat voluptatem eveniet voluptas rerum nobis nisi fuga, reprehenderit doloribus quasi. Neque quod, quaerat temporibus atque excepturi praesentium.
Iusto ducimus dicta inventore incidunt doloribus molestiae vitae eveniet, perspiciatis nostrum! Pariatur, autem exercitationem. Blanditiis, numquam alias! Libero repudiandae maiores sequi voluptas laboriosam. Distinctio beatae facilis omnis labore voluptatum accusantium.
Et aperiam quos ipsa ipsum error neque odio assumenda? Earum, aperiam impedit a sapiente ea qui placeat consequatur dignissimos inventore facere animi! Repellat, officiis nulla! A illo quibusdam est quae.
Exercitationem consequatur vel totam numquam corporis hic, quod labore. Optio fugiat suscipit facere, praesentium soluta dolorem est nesciunt quae distinctio iure quam enim tempore odit quis ab! Iure, voluptates tenetur!
Cumque esse ullam officiis consequatur laudantium dolorum modi fugiat totam, commodi asperiores id similique deserunt nihil consectetur, necessitatibus voluptates laborum autem omnis quidem aperiam facere doloremque quasi perferendis enim! Sapiente.
Quos vitae, suscipit praesentium eos similique beatae magnam sunt fugit harum voluptate officiis. Autem molestias non molestiae inventore cum nisi tenetur porro ipsa fugit laboriosam voluptate corrupti quas, at ipsam!
Odio, doloremque nihil vel veritatis saepe neque, eum nemo explicabo, expedita corrupti cupiditate soluta. Quibusdam, necessitatibus. Vel similique odit illum numquam, eaque officia esse consequuntur sunt saepe, delectus, earum obcaecati!
Corrupti natus aperiam perspiciatis sunt quisquam, voluptates quasi, minus neque, esse officia iure beatae. Neque, impedit! Veritatis voluptatem perspiciatis molestiae deserunt aut amet sint odit, nobis reprehenderit voluptatibus tenetur ad?
Quia voluptate libero porro, nemo ex eligendi fugiat exercitationem? Neque, cum. Maiores saepe, sequi facere magnam dicta, accusantium corporis reiciendis vel eveniet magni temporibus quod labore sit quia molestiae molestias?
Nam facere eius expedita eos eligendi amet quisquam adipisci velit voluptatibus nesciunt voluptates ex pariatur harum magni, quaerat fuga! Explicabo mollitia ipsa adipisci praesentium alias ab cum quod quo nesciunt!
Animi mollitia velit maiores exercitationem, nisi facere iure iste magni in ipsum laudantium sed rerum! Totam corrupti id iure perspiciatis repudiandae accusantium tenetur ipsum. Placeat quaerat eveniet dolore rerum suscipit?
Modi blanditiis reiciendis assumenda quas expedita ab nemo nobis impedit doloribus magni laborum, odio nulla officiis excepturi? Voluptatem saepe eius commodi laboriosam, cupiditate culpa, illum quasi nam fuga incidunt libero!
Amet voluptates et dolorem corporis soluta doloribus vel ex! Soluta delectus, porro harum quisquam nam officiis nisi placeat nostrum laborum, iusto aperiam nihil ab atque veritatis distinctio commodi saepe! Corporis!
Voluptas officia fugiat amet, consequatur dolorum similique architecto in quas neque ab, aperiam quia atque eos, officiis obcaecati. Atque vel laudantium sed tempore mollitia deleniti. Quibusdam maxime voluptatem est optio!
Fugiat, sunt, dicta velit eaque explicabo provident laudantium quas facilis, numquam praesentium aut eius voluptate unde necessitatibus asperiores quibusdam minima! Enim quasi nihil tempore. Error nostrum incidunt quisquam nam possimus.
Praesentium, eum dolore, ab sed molestiae reiciendis molestias corrupti laboriosam atque accusamus cum vel itaque, quam exercitationem? Nemo doloribus id nostrum facere praesentium sint laborum quia accusantium! Animi, libero vero.
Reiciendis non odio eius dolorem maxime earum ipsum illo, quaerat nisi ratione modi doloremque consequuntur beatae eos est? Commodi mollitia eius tempora aliquam non corrupti expedita voluptatem sunt cum tenetur?
Autem animi impedit porro minus esse quasi eos accusamus labore maiores, tempore ea aut dolor. Mollitia, sunt minima tenetur porro minus dicta quae, quis ipsa ex vel, ipsum totam sint.
Soluta suscipit quasi nemo fugit autem, earum officia repellat tenetur quisquam eius ipsum facere quas maiores corporis. Aperiam amet eius accusantium ab error harum, nulla aut maiores in magni aspernatur.
Eligendi, autem! Neque quam rem, doloribus doloremque sed possimus natus enim blanditiis non suscipit cum officiis at eligendi. Molestiae quisquam illum saepe cum quos amet unde reiciendis obcaecati non quidem!
Consectetur soluta labore non sunt aliquam nulla, distinctio possimus unde corrupti autem quidem hic totam iure omnis tempore. Unde neque asperiores ipsum tempora quibusdam, suscipit inventore ab magni corporis possimus.
Inventore non maiores, itaque temporibus, omnis eveniet vitae tempora deserunt aliquid quas eaque assumenda repellat tenetur delectus atque nemo quisquam dolores consequuntur reiciendis animi dolorem reprehenderit. Provident, fugit. Tempore, qui.</p>
